---
layout: default
---

{% include hero.html %}

<div class="container">
  {% if site.posts.size > 0 %}
    <div class="row"> 
      <div class="col-12 col-md-6">
        <h2 class="text-center">Waterfowl Logs</h2>
        <ul>
          {% for post in site.posts %}
            {% if post.path contains 'waterfowl' %}
              <li>
                <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
                  <div class="article__content">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      <span class="article__date">
                        <time datetime="{{ post.date | date_to_xmlschema }}">
                        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                        {{ post.date | date: date_format }}
                        </time>
                      </span>
                      <span>{{ post.season }}</span>
                    </a>

                   <div class="article__hunt-data">
                     <span class="col-4">{{ post.hunt_time }}</span>
                     <span class="col-4">{{ post.wind }}</span>
                     <span class="col-4">{{ post.low_temp }} - {{ post.high_temp }}</span>
                   </div>

                   <div class="article__hunt-data">
                     <span class="col-6">{{ post.location }}</span>
                     <span class="col-6">{{ post.coords }}</span>
                   </div>

                    <div class="col-12">
                      <p class="article__excerpt">
                        {% if post.description %}
                          {{ post.description }}
                        {% else %}
                          {{ post.content | strip_html | truncate: 130 }}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      
      <div class="col-12 col-md-6">
        <h2 class="text-center">Whitetail Logs</h2>
        <ul>
          {% for post in site.posts %}
            {% if post.path contains 'whitetail' %}
              <li>
                <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
                  <div class="article__content">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      <span class="article__date">
                        <time datetime="{{ post.date | date_to_xmlschema }}">
                        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                        {{ post.date | date: date_format }}
                        </time>
                      </span>
                      <span>{{ post.season }}</span>
                    </a>

                    <p class="article__excerpt">
                      {% if post.description %}
                        {{ post.description }}
                      {% else %}
                        {{ post.content | strip_html | truncate: 130 }}
                      {% endif %}
                    </p>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="container">
  
</div>
