---
layout: default
---

{% include hero.html %}

<section class="container">
  {% if site.posts.size > 0 %}
    <div class="row"> 
      <div class="col-12 col-md-6">
        <h2 class="text-center">Waterfowl Logs</h2>
        <ul>
          {% for post in site.posts %}
            {% if post.path contains 'waterfowl' %}
              <li>
                <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
                  <div class="article__content">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      <span class="article__date">
                        <time datetime="{{ post.date | date_to_xmlschema }}">
                        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                        {{ post.date | date: date_format }}
                        </time>
                      </span>
                      <span>{{ post.season }}</span>
                    </a>

                    {% if post.details == true %}
                    <div class="article__hunt-data">
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon fas fa-map-marker-alt"></i>
                        {{ post.location }}
                      </span>
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon far fa-clock"></i>
                        {{ post.hunt_time }}
                      </span>
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon fas fa-thermometer-three-quarters"></i>
                        {{ post.low_temp }}-{{ post.high_temp }}
                      </span>
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon fas fa-wind"></i>
                        {{ post.wind }}
                      </span>
                      <!-- <span class="hunt-data-block">
                        <i class="hunt-data-icon far fa-compass"></i>
                        {{ post.coords }}
                      </span> -->
                    </div>
                    {% else %}

                    <div class="article__hunt-data">
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon mt-1 far fa-clipboard"></i>
                        <span>
                          {% if post.description %}
                            {{ post.description }}
                          {% else %}
                            {{ post.content | strip_html | truncate: 130 }}
                          {% endif %}
                        </span>
                      </span> 
                    </div>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      
      <div class="col-12 col-md-6">
        <h2 class="text-center">Whitetail Logs</h2>
        <ul>
          {% for post in site.posts %}
            {% if post.path contains 'whitetail' %}
              <li>
                <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
                  <div class="article__content">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      <span class="article__date">
                        <time datetime="{{ post.date | date_to_xmlschema }}">
                        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                        {{ post.date | date: date_format }}
                        </time>
                      </span>
                      {% if post.season == true %}
                        <span>{{ post.season }}</span>
                      {% else %}
                        <span>{{ post.title }}</span>
                      {% endif %}
                    </a>

                    {% if post.details == true %}
                    <div class="article__hunt-data">
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon fas fa-map-marker-alt"></i>
                        {{ post.location }}
                      </span>
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon far fa-clock"></i>
                        {{ post.hunt_time }}
                      </span>
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon fas fa-thermometer-three-quarters"></i>
                        {{ post.low_temp }}-{{ post.high_temp }}
                      </span>
                      <span class="hunt-data-block">
                        <i class="hunt-data-icon fas fa-wind"></i>
                        {{ post.wind }}
                      </span>
                    </div>
                    {% else %}

                    <div class="article__hunt-data">
                      <span class="hunt-data-block d-flex text-wrap">
                        <i class="hunt-data-icon mt-1 far fa-clipboard"></i>
                        <span>
                          {% if post.description %}
                            {{ post.description }}
                          {% else %}
                            {{ post.content | strip_html | truncate: 130 }}
                          {% endif %}
                        </span>
                      </span> 
                    </div>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</section>
