// *****************
// Color Variables
// *****************
$body-color: #005959;
$primary-color: #6b69fa;
$secondary-color: #ffd001;
$rich-blue: #133264;
$wheat: #b5a638;
$gold: #FFB915;
$dark: #333;
$gray: #666;
$gray-dark: #999;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
